@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-size: 14px;
  background-color: #f1f8fe;
  font-family: "Montserrat", sans-serif;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0px 15px;
}
.main-header {
  margin-top: 36px;
  line-height: 58.8px;
  color: #021b31;
}
.section {
  margin-top: 25px;
  max-width: 795px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 10px;
  position: relative;
  flex: 3;
}
.team-1,
.team-2 {
  display: flex;
  gap: 15.21px;
  align-items: center;
  width: 50%;
}
.team-1,
.team-2:hover {
  cursor: pointer;
}
.team {
  display: flex;
  justify-content: space-between;
}
.line {
  position: relative;
}
.team-2:last-child {
  margin-left: 44.79px;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  width: 794px;
  height: 1px;
  background: #ebebeb;
  top: 50%;
  margin-top: 22.52px;
}
.starting-lineup {
  margin: 28px 13px 21px 19px;
}
.starting__lineup-header,
.sub-lineup__header,
.coaching-staff__header {
  margin-top: 23px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  color: #c1c1c1;
}
.player__info {
  display: flex;
  align-items: center;
  width: 54%;
}
.player__flag {
  margin-left: 19.5px;
}
.player__name {
  margin-left: 19.5px;
}
.player {
  display: flex;
  justify-content: space-between;
}
.player {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.7px;
  color: #021b31;
  padding: 11.5px 10px;
  border-radius: 5px;
}
.player:nth-child(odd) {
  background-color: #f8f8f8;
}
.player__number {
  box-sizing: border-box;
  text-align: center;
  width: 31px;
  height: 19px;
}
.player__position {
  display: flex;
  align-items: center;
}
.captain,
.mf {
  color: blue;
  margin-left: 19.5px;
  font-weight: 400;
}
.wrapper {
  display: flex;
}
.side-block {
  flex: 1;
  margin-left: 31px;
}
.side-block__border {
  max-width: 240px;
}
.weather-box {
  height: 320px;
  background: url(/Images/field.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
  border-radius: 10px;
  position: relative;
}
.weather-box__info {
  padding: 22px 21px;
}
.weather-box__moscow {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.7px;
}
.weather-box__degree {
  font-size: 36px;
  line-height: 42.08px;
  font-weight: 500;
}
.weather-box__info_detail {
  display: flex;
  flex-direction: column;
}
.weather-box__info_wrapper {
  display: flex;
  justify-content: space-between;
}
.weather-box__location {
  display: flex;
  flex-direction: column;
  margin-top: 76px;
}
.stadium-name {
  margin-top: 9.62px;
}
.stadium-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 200.5px;
  height: 1px;
  background: #ffffff 50%;
  top: 85%;
  bottom: 15.78%;
}
.stadium-capacity {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}
.persons {
  font-size: 12px;
  line-height: 14.03px;
  font-weight: 700;
  color: #c1c1c1;
}
.official-persons {
  margin-top: 34.11px;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 700;
  text-transform: uppercase;
}
.official-persons_box {
  position: relative;
  margin-top: 21.4px;
  border: 1px solid #ececec;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;
  transition: all 1s ease-in;
}
.official-persons_box:hover {
  color: #021b31;
  background-color: darkorange;
  cursor: pointer;
  transition: all 1.5s ease-in;
  box-shadow: 0 5px 0px #3c354a;
}
.official-persons_box_name {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.official-persons_box_bio {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}
.official-persons_box_content {
  padding: 14px 19px;
}
.official-persons_box_name-name {
  font-size: 16px;
  line-height: 18.7px;
  font-weight: 600;
  color: #021b31;
}
.empty {
  opacity: 0;
}
.card-box {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
}
.card-box__card {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card-box__card:nth-child(1) {
  padding-left: 0px;
}
.no-red {
  display: none;
}
.no-yellow {
  opacity: 0;
}
.no-foul {
  opacity: 0;
}
@media (max-width: 1135px) {
  .container {
    max-width: 970px;
  }
  .line::after {
    display: none;
  }
  .weather-box__location {
    margin-top: 75px;
  }
  .stadium-name::after {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .player {
    font-size: 14px;
    font-weight: 600;
  }
  .player__info {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .side-block__border {
    max-width: none;
  }
  .stadium {
    display: none;
  }
  .weather-box {
    display: none;
  }
  .player {
    font-size: 12px;
    font-weight: 600;
  }
  .official-persons_box_name-name {
    font-size: 12px;
  }
  .wrapper {
    display: block;
  }
  .side-block {
    margin-left: 0px;
  }
  .weather-box__location {
    margin-top: 0px;
  }
  .stadium-name::after {
    display: none;
  }
  .starting-lineup {
    margin: 15px 10px;
  }
  .card-box {
    gap: 5px;
  }
  .card-box__card {
    gap: 3px;
  }
  .body {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .section {
    margin-top: 10px;
  }
  .main-header {
    text-align: center;
  }
  .body {
    margin: 0 auto;
  }
  .player {
    font-size: 10px;
    font-weight: 500;
  }
  .player__number {
    width: 15px;
    height: 19px;
  }
  .player__name {
    margin-left: 3.5px;
  }
}
